@model HalushkoMessenger.ViewModels.EditUserViewModel

@{
    ViewData["Title"] = "Edit_Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

@Html.Partial("_Menu")

<div id="renderBody">
    <h1>Edit Profile</h1>
    @using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { HttpMethod = "POST", OnSuccess = "Done", OnFailure = "Fail" }))
    {
        @Html.AntiForgeryToken()
        <div>
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name)
        </div>

        <div>
            @Html.LabelFor(m => m.Surname, new { @class = "col-md-2 control-label" })
                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Surname)
        </div>        

        <div>
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div>
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)

        </div>

        <div>

            <input type="submit" class="btn btn-danger" value="Change">

        </div>
    }
</div>
