@model HalushkoMessenger.ViewModels.DialogMessagesViewModel

    <div id="renderBody">
        @if (Model.Messages.Count != 0)
        {
            <h1>Your chat with <span class="important">@Model.Messages.FirstOrDefault(m => m.DialogId == Model.DialogId).Sender.Name</span></h1>
        }
        else 
        {
            <h1>Start your chatting !</h1>
        }

        <div class="chatBox">

            @if (Model.Messages == null)
            {

                <div class="empty-dialog">
                    <p>Please chose some dialog !</p>
                </div>
            }
            else
            {
                <div class="messageBox">
                    @if (Model.Messages.Count != 0)
                    {
                        @foreach (var message in Model.Messages)
                        {
                            if (message.Sender.UserName == User.Identity.Name)
                            {
                                <div class="container whiter">
                                    <p class="userName">@message.Sender.UserName</p>
                                    <img src="~/userAvatar.png" alt="Avatar">
                                    <p>@message.MessegeText</p>
                                    <span class="time-right">@message.DateTimeStamp</span>
                                </div>
                            }
                            else
                            {
                                <div class="container darker">
                                    <p class="userName">@message.Sender.UserName</p>
                                    <img src="~/userAvatar2.png" alt="Avatar" class="right">
                                    <p>@message.MessegeText</p>
                                    <span class="time-left">@message.DateTimeStamp</span>

                                </div>
                            }
                        }
                    }
                    else
                    {
                        <div>
                            No message yet...
                        </div>
                    }
                </div>
            }
            <div class="writingBox">
                @using (Html.BeginForm("Dialog", "Home"))
                {
                    <div>
                        <input type="hidden" name="dialogId" value="@Model.DialogId">
                        <input id="mainInput" name="messageText" type="text" placeholder="..." autocomplete="off" />
                        <button type="submit" style="font-size:20px; border-radius:10px;"><i class="fa fa-send-o"></i></button>
                    </div>
                }

            </div>
        </div>
    </div>
